body {
	font-family:Arial;
	font-size:12px;
	color:#eeeeee;

	background-image: url("images/1280px-Villeconin_Essonne_mairie_11161.jpg");
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.site-branding {
	width:100%;
	margin: 0;
	padding: 60px 0 30px;
	text-align: center;
	background-color: $color__background-content;
	font: 700 24px 'Roboto Condensed', Arial;
	.site-title {
		text-decoration: none;
	}
}

$margin__header_primary: 30px;
$margin__outer: 40px;

$size__site: 1100px;
$size__site-secondary: $size__site-header;

#page {
	z-index:999;
	margin: 0 auto;
	width: $size__site;
}

#masthead {
	margin-left: $margin__outer/2;
	margin-top:  20px;
	margin-bottom: 20px;

	float: left;

	width: $size__site-header;
}

#secondary {
	float: left;

	background-color: $color__background-content;

	margin-top: 20px;

	padding-top: 20px;
	padding-left: 20px;

	width: $size__site-secondary;
}

#content {
	float: left;

	word-wrap: break-word;

	margin-right: $margin__outer/2;
	margin-top:  20px;
	margin-left: $margin__header_primary;

	width: $size__site - $size__site-header - $margin__header_primary - $margin__outer;
}

#primary {
	background-color: $color__background-content;

	min-height: 600px;

	padding: 0px 20px;
}

#colophon {
	display: block;
	clear: both;
	background-color: $color__background-content;

	margin-top:  20px;
	margin-left: $margin__outer/2;

	width: $size__site - $margin__outer;
}

@media screen and (max-width:1100px) and (min-width:960px) {
	#content {
		width: 960px - $size__site-header - $margin__header_primary - $margin__outer;
	}
	#colophon {
		width: 960px - $margin__outer;
	}
	#page {
		width: 960px;
	}
}

@media screen and (max-width:960px) and (min-width:768px) {
	#content {
		width: 768px - $size__site-header - $margin__header_primary - $margin__outer;
	}
	#colophon {
		width: 768px - $margin__outer;
	}
	#page {
		width: 768px;
	}
}

@media screen and (max-width:768px) and (min-width:480px) {
	#masthead {
		width:480px - $margin__outer;
		margin-left: 0px;
	}

	#content {
		float: left;
		margin-left: 0px;
		width: 480px - $margin__outer;
	}
	#colophon {
		margin-left: 0px;
		width: 480px - $margin__outer;
	}
	#secondary {
		margin-left: 0px;
		width: 480px - $margin__outer;
	}

	#page {
		width: 480px;
	}
}
