body {
	font-family:Arial;
	font-size:12px;
	color:#aeaeae;

	background-image: url("images/1280px-Villeconin_Essonne_mairie_11161.jpg");
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#page {
	z-index:999;
	margin: 0 auto;
	width:$size__site;
}

#masthead {
	display: block;
	float: left;
	margin-top: 20px;
	width: $size__site-header;
}

.site-branding {
	width:100%;
	margin: 0;
	padding: 60px 0 30px;
	text-align: center;
	background-color: $color__background-content;
	.site-title {
		font: 700 45px 'Roboto Condensed', Arial;
		text-decoration: none;
	}
}

#secondary {
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 20px;
	display: block;
	float: left;
	background-color: $color__background-content;
	width: $size__site-secondary;
}

#content {
	display: block;
	float: right;

	margin-top:  20px;
	word-wrap: break-word;
	width: $size__site-primary;
}

#primary {
	background-color: $color__background-content;
	padding: 10px 10px;
	margin: 10px 0;
	min-height: 600px;
}

#colophon {
	float: left;
	display: block;
	margin-top:  20px;

	background-color: $color__background-content;
	width: $size__site-footer;
}
