#page {
	position:relative;
	z-index:999;
	margin:auto;
	width:$size__site;
}

#masthead {
	background-color: $color__background-item;
	width: $size__site-header;
	margin: 10px 0;
	padding: 0;
	border-left: 1px solid #1b1b1b;
	border-right: 1px solid #1b1b1b;
	float: left;
}

#content {
	background-color: $color__background-item;
	padding:20px;
	word-wrap:break-word;
}

#primary {
	margin: 10px 0;
	float: left;
	margin: 0 0 0 0;
	width: $size__site-primary + $size__site-secondary;
}

#secondary {
	display:none;
	width: $size__site-secondary;
}

#colophon {
	clear: both;
	width: $size__site-footer;
}
