
.main-navigation {
	background-color: $color__background-content;
	font: 300 16px 'Roboto Condensed', Arial;

	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	padding-bottom: 10px;

	ul { /* menu level 0 */
		margin: 0;
		padding-left: 0;

		li {
			background-color: $color__navigation-bg-item;

			display: block;
			position: relative;
			padding: 0;
			line-height: normal;

			a {
				padding:6px 0 6px 49px;
				display:block;
				font-weight:300;
			}

			ul { /* sub menu #0 */
				display: none;
			}

			&:hover {
				background-color: $color__navigation-bg-item-hover;

				ul {
					display: block;
					position: absolute;
					left: $size__site-header - 30px;
					width: 180px;
					top:5px;
					z-index:10;

					li {
						a {
							background-position:7px center;
							padding-left:27px;
						}

						ul { /* sub menu #1 */
							display:none;
						}
						&:hover {
							 ul {
								display: block;
								left: 160px;
								top: 5px;

								li {
									ul {
										display: none;
									}
									&:hover {
										display: block;

										ul {
											display: none;
										}
										&:hover {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	a {
		color: $color__navigation-fg-item;
		background:url(images/nav-icon.png) no-repeat 20px center;
		display: block;
		text-decoration: none;

		&:hover {
			background-image:url(images/nav-icon-hover.png);
			color: $color__navigation-fg-item-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		background-image:url(images/nav-icon-hover.png);
		color: $color__navigation-fg-item-hover;
	}

	.menu-item-has-children > a {
		background: url(images/menu_sub_icon.png) no-repeat center right;
	} /* small arrow to indicate a sub-menu */

	li {
		list-style: none;
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
